* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* Init all flex containers */

#top, #content, #about, #work, #work-tiles, #contact, #links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Set flex direction */
#top {
    align-items: center;
    height: min-content;
}

#page-title {
    font-size: 3em;
    font-weight: bold;
    height: min-content;
    padding: 10px;
    margin: 2% 0px;
}

#page-title span {
    cursor: alias;
}

nav ul {
    padding: 10px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

.nav-links {
    text-decoration: none;
    padding: 5px;
    font-size: 1.3em;
    font-weight: 300;
    transition: font-size 0.5s;
}

.nav-links:hover {
    font-size: 1.4em;
    font-weight: 500;
}

#subtitle-container {
    position: relative;
    text-align: center;
}

#subtitle-image {
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: 0px 75%;
}

#subtitle {
    position: absolute;
    bottom: 10%;
    right: 0;
    font-size: 2em;
    padding: 5px;
}

#content {
    flex-direction: column;
    width: 100%;
}

section {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
}

section h2 {
    font-size: 2em;
    width: 20%;
    text-align: right;
    padding: 5px;
    transition: font-size 0.5s;
}

section:hover h2 {
    font-size: 2.2em;
}

.nav-links, .text, section p {
    font-size: 1.3em;
}

.info {
    width: 70%;
    margin: 10px;
}

/* Work tile styling */

.tile {
    position: relative;
    margin: 10px;
    width: 25%;
}

.tile img {
    object-fit: cover;
    width: 100%;
}

.text {
    position: absolute;
    font-size: 1.3em;
    margin: 5%;
    right: 0;
    bottom: 0;
    width: 50%;
    text-align: right;
    font-weight: bold;
}

.overlay {
    position: absolute;
    opacity: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.tile:hover .overlay {
    opacity: 0.75;
}

.tile-link {
    display: block;
    height: 100%;
}

/* Styling for specific tiles in desktop view */

#first-tile {
    width: 100%;
}

#first-tile a {
    height: 500px;
}

#first-tile img {
    height: 500px;
}

#second-tile img, #third-tile img {
    height: 100%;
}

#second-tile .text, #third-tile .text {
    width: 75%;
}


#contact ul li {
    margin: 10px 0;
}

.contact-links {
    text-decoration: none;
    padding: 5px;
    font-size: 1.3em;
    transition: font-size 0.5s;
}

.contact-links:hover {
    font-size: 1.4em;
}

footer {
    position: relative;
    text-align: center;
    height: 200px;
    opacity: 0.7;
}

#to-top {
    position: absolute;
    bottom: 40%;
    right: 35%;
    left: 35%;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
}

#to-top:visited {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    header {
        height: 5%;
        flex-direction: column;
        text-align: center;
    }
    #page-title {
        width: 100%;
        margin: 0;
        padding: 10px 0px;
    }
    nav {
        width: 100%;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 0px;
        background-color: #00000000;
    }
    section {
        flex-direction: column;
    }
    section h2 {
        text-align: left;
        width: 100%;
        margin: 0 0 5% 0;
        border-right: none;
    }
    section:hover h2 {
        border-right: none;
        font-size: 2.2em;
    }
    .info {
        width: 100%;
    }
    .overlay {
        opacity: 0.8;
    }
    .tile, #first-tile img, #second-tile img {
        width: 100%;
        height: 250px;
    }
    .tile-link {
        display: block;
        padding: 0;
        border: none;
    }
    #second-tile .text, #third-tile .text {
        width: 50%;
    }
}


@media screen and (max-width: 762px) {
    .links ul li {
        width: 100%;
        margin: 15px;
    }
    .contact-links {
        margin: 20px;
    }
}