:root {
    --xiketic: #03071eff;
    --dark-sienna: #370617ff;
    --rosewood: #6a040fff;
    --dark-red: #9d0208ff;
    --rosso-corsa: #d00000ff;
    --vermilion: #dc2f02ff;
    --persimmon: #e85d04ff;
    --carrot-orange: #f48c06ff;
    --orange-web: #faa307ff;
    --selective-yellow: #ffba08ff;
}

html {
    background-color: var(--xiketic);
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: var(--persimmon);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
}

/* Header styling */
.page-title {
    font-size: 3em;
    font-weight: bold;
    background-color: var(--vermilion);
    height: min-content;
    padding: 10px;
    margin: 2% 0px;
}

nav ul li{
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
    color: var(--rosewood);
    border-bottom: 5px solid var(--dark-sienna);
    padding: 5px;
    font-size: 1.25em;
    font-weight: 300;
}

a:visited {
    color: var(--rosewood);
}

a:hover{
    color: var(--selective-yellow);
    border-bottom: 5px solid var(--selective-yellow);
}

/* Splash image styling */
#subtitle-container {
    position: relative;
    text-align: center;
}
#subtitle-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0px 75%;
}

#subtitle {
    position: absolute;
    bottom: 10%;
    right: 0;
    font-size: 2em;
    background-color: var(--dark-sienna);
    color: var(--persimmon);
    padding: 5px;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--selective-yellow);
}
#content h2 {
    font-size: 2em;
    color: var(--rosso-corsa);
    border-right: 5px solid var(--vermilion);
    width: 20%;
    text-align: right;
    padding: 5px;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

#about p {
    padding: 15px;
    width: 70%;
}

/* Work tile styling */

#work-tiles {
    display: flex;
    flex-wrap: wrap;
    width: 70%
}
.tile {
    margin: 10px;
    width: 25%;
}
.tile img {
    object-fit: cover;
    width: 75%;
}
#first-tile {
    width: 100%;
}