html {
    cursor: cell;
}

body {
    background-color: #806767;
    overflow: hidden;
}

header h1 {
    display: inline-block;
    font-family: 'Courier New', monospace;
    margin-top: 3%;
}

.triangle {
    position: absolute;
    cursor: nw-resize;
    top: 70%;
    left: 60%;
    width: 0;
    height: 0;
    border-bottom: 50px solid #000000;
    border-left: 50px solid transparent;
}

.menu {
    display: inline-block;
    position: fixed;
    left: -5%;
    top: -10%;
    border: #000000 solid 2px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.nav-circle, #github, #linkedin {
    display: inline-block;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    left: 0;
    top: 0;
    border: #000000 solid 1px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: opacity 1s, visibility 1s, top 0.5s;
}

a img {
    display: block;
    margin: auto;
    width: 100%;
}
.triangle:focus~#github {
    top: 22%;
    opacity: 1;
    visibility: visible;
}
.triangle:focus~#linkedin {
    top: 45%;
    opacity: 1;
    visibility: visible;
}

/*  Main Section Styling */

.outer-square {
    position: relative;
    border: #000000 solid 3px;
    width: 200px;
    height: 200px;
    margin: auto;
    transform: rotate(45deg);
    overflow: hidden;
}

.small-circle {
    opacity: 0;
    position: absolute;
    border: #000000 solid 1px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
    background-image: url('../images/forene.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.02);
    transition: transform 1s, opacity 0.75s;
}

.circle {
    position: absolute;
    border: #000000 solid 1px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -100px 0px 0px -100px;
    transform: scale(1.02);
    transition: transform 0.666s, background-color 0.5s;
}

.portfolio-shapes {
    width: fit-content;
    height: fit-content;
    position: fixed;
    margin: auto;
    left: 40%;
    right: 40%;
    top: -5%;
    transform: rotate(0deg);
    transition: transform 0.7s;
}

.portfolio-shapes:focus {
    transform: rotate(-90deg);
}

.portfolio-shapes:focus .outer-square:hover {
    overflow: visible;
}

.portfolio-shapes:focus .circle:hover {
    background: radial-gradient(red, green);
    transform: scale(1.75);
}

.portfolio-shapes:focus .outer-square:hover {
    z-index: 1;
}

.circle:hover .small-circle {
    opacity: 100;
}