:root {
    /* Sunset Color Palette */
    --xiketic: #03071eff;
    --dark-sienna: #370617ff;
    --rosewood: #6a040fff;
    --dark-red: #9d0208ff;
    --rosso-corsa: #d00000ff;
    --vermilion: #dc2f02ff;
    --persimmon: #e85d04ff;
    --carrot-orange: #f48c06ff;
    --orange-web: #faa307ff;
    --selective-yellow: #ffba08ff;
}

body {
    background-color: var(--xiketic);
    background: linear-gradient(to top, var(--xiketic), var(--xiketic), var(--xiketic), var(--persimmon));
    font-family: 'Courier New', Courier, monospace;
}

::selection {
    background-color: var(--orange-web);
    color: var(--xiketic);
}

/* Header styling */

header {
    background-color: var(--vermilion);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
}

.page-title {
    font-size: 3em;
    font-weight: bold;
    background-color: var(--carrot-orange);
    height: min-content;
    padding: 10px;
    margin: 2% 0px;
}

.page-title span {
    cursor: alias;
}

/* Styling for nav bar, nav links, and contact links */

nav ul li {
    display: inline-block;
    margin: 10px;
}

.nav-links {
    text-decoration: none;
    color: var(--rosewood);
    border-bottom: 5px solid var(--dark-sienna);
    padding: 5px;
    font-size: 1.25em;
    font-weight: 300;
    transition: font-size 0.5s;
}

.nav-links:visited {
    color: var(--rosewood);
}

.nav-links:hover {
    color: var(--selective-yellow);
    border-bottom: 5px solid var(--selective-yellow);
    text-shadow: 0px 0px 10px var(--xiketic), 0px 0px 10px var(--dark-sienna);
    font-size: 1.27em;
    font-weight: 500;
}

/* Splash image styling */

#subtitle-container {
    position: relative;
    text-align: center;
}

#subtitle-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 0px 75%;
}

#subtitle {
    position: absolute;
    bottom: 10%;
    right: 0;
    font-size: 2em;
    background-color: var(--dark-sienna);
    color: var(--persimmon);
    padding: 5px;
}

/* Styling for main content */

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--selective-yellow);
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
    padding: 5px;
}

section h2 {
    font-size: 2em;
    color: var(--rosso-corsa);
    border-right: 5px solid var(--vermilion);
    width: 20%;
    text-align: right;
    padding: 5px;
    transition: font-size 0.5s;
}

section:hover h2 {
    color: var(--selective-yellow);
    border-right: 5px solid var(--selective-yellow);
    font-size: 2.2em;
}

.info {
    width: 70%;
    margin: 10px 0px;
}

/* Work tile styling */

.work-tiles {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    position: relative;
    margin: 10px;
    width: 25%;
}

.tile img {
    object-fit: cover;
    width: 100%;
}

.text {
    position: absolute;
    font-size: 1.3em;
    margin: 5%;
    right: 0;
    bottom: 0;
    width: 50%;
    text-align: right;
    color: var(--selective-yellow);
    font-weight: bold;
}

.overlay {
    position: absolute;
    opacity: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    background: linear-gradient(to top left, var(--dark-sienna), var(--xiketic));
}

.tile:hover .overlay {
    opacity: 0.75;
}

.tile-link {
    display: block;
    padding: 0;
    border: none;
    height: 100%;
}

/* Styling for specific tiles in desktop view */

#first-tile {
    width: 100%;
}

#first-tile a {
    height: 500px;
}

#first-tile img {
    height: 500px;
}

#second-tile img, #third-tile img {
    height: 100%;
}

#second-tile .text, #third-tile .text {
    color: var(--persimmon);
    width: 100%;
}

/* Contact Information Styling */

#contact {
    justify-content: flex-start;
}

#contact .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#contact ul li {
    margin: 10px 0;
}
.contact-links {
    text-decoration: none;
    color: var(--rosewood);
    border-bottom: 5px solid var(--dark-sienna);
    padding: 5px;
    font-size: 1.25em;
    font-weight: 300;
    transition: font-size 0.5s;
}

.contact-links:visited {
    color: var(--rosewood);
}

.contact-links:hover {
    color: var(--selective-yellow);
    border-bottom: 5px solid var(--selective-yellow);
    text-shadow: 0px 0px 10px var(--xiketic), 0px 0px 10px var(--dark-sienna);
    font-size: 1.27em;
    font-weight: 500;
    text-shadow: 0px 0px 5px var(--rosewood), 0px 0px 20px var(--selective-yellow);

}
/* Footer Styling */

footer {
    position: relative;
    text-align: center;
    height: 200px;
    opacity: 0.7;
    background: linear-gradient(to top, var(--dark-sienna), var(--xiketic));
}

footer h3 a{
    position: absolute;
    color: var(--selective-yellow);
    bottom: 40%;
    right: 35%;
    left: 35%;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 0px 0px 5px var(--rosewood), 0px 0px 20px var(--selective-yellow);
    cursor: alias;
}
footer h3 a:visited{
    text-decoration: none;
    color: var(--selective-yellow);
    
}

/* Responsive styling */

@media screen and (max-width: 992px) {
    section {
        flex-direction: column;
        margin: 1% 5% 5% 5%;
    }
    section h2 {
        text-align: left;
        width: 100%;
        margin: 0 0 5% 0;
        border-right: none;
        border-bottom: 5px solid var(--vermilion);
    }
    section:hover h2 {
        color: var(--selective-yellow);
        border-right: none;
        border-bottom: 5px solid var(--selective-yellow);
        font-size: 2.2em;
    }
    .info {
        width: 100%;
    }
    .nav-links:hover, .contact-links:hover {
        color: var(--selective-yellow);
        border-bottom: 5px solid var(--selective-yellow);
        font-size: 1.25em;
    }
    .overlay {
        opacity: 0.8;
    }
    .tile, #first-tile img, #second-tile img {
        width: 100%;
        height: 250px;
    }
    .tile-link {
        display: block;
        padding: 0;
        border: none;
    }
    #second-tile .text, #third-tile .text {
        color: var(--selective-yellow);
        width: 50%;
    }
}

@media screen and (max-width: 762px) {
    #contact .links ul li {
        width: 100%;
        margin: 10px 0;
    }
}